<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{keywords}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:image" content="/img/t_logo.png">
    <meta property="og:site_name" content="Telegram" />
    <meta property="og:description" content="{{description}}" />
    <meta property="fb:app_id" content="254098051407226">
    <meta property="vk:app_id" content="3782569">
    <meta name="apple-itunes-app" content="app-id=686449807">
    <meta name="telegram:channel" content="@telegram">
    <link rel="shortcut icon" href="/favicon.ico?3" type="image/x-icon">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/telegram.css" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
